<h1>Welcome to Gnosi!</h1>
<p style="color: red"><%= flash[:no_auth] %></p>


<%= button_to "Sign in to Feedly", "auth/feedly", {class: "button button-lg"} %>

<p style="color: #aaffaa"><%= flash[:success] %></p>


<!--link_to "sign in with feedly"    button redirects to "/auth/feedly" -->
