body {
	/*background: url('tree-of-knowledge-1600x1200.jpg');*/
	/*background-position: bottom center;*/
	/*background-repeat: no-repeat;*/
	/*background-attachment: fixed;*/
	/*width: 100%;*/
	/*background: #FFF8DC;*/
	background: #FFFFFF;
	color: #1F1209;
	/*font-family: 'Basic', sans-serif;*/
	font-family: 'Goudy Bookletter 1911', Georgia, Times, serif;
	margin-top: 100px;
}

.navbar {
	background: #000000;
	text-shadow: 2px 2px #FFF8DC;
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	position: absolute;
}

.navbar li {
	margin-top: 15px;
}

.user_img {
	border-radius: 50px;
	border: 2px solid #FFF8DC;
}

/* 
	1F1209 dark
	003366 blue
	FFF8Dc cream
	834C24 brown
	*/

h1 {
	size: 40px;
	text-align: left;
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
}

.topics {
	color: black
}

.mod {
	margin: 10px;
}

.modal-body {
	font-size: 25px;
}

.stream {
	border: 1px solid #003366;
	background-color: rgba(240,240,240,0.6);
	margin: 5px;
	border-radius: 0px;
	/*width: 370px;*/
	/*height: 330px;*/
	width: 260px;
	height: 300px;
	padding: 0 20px 20px 20px;
	text-align: left;
}

.title_link {
	text-align: left;
	font-size: 20px;
}

.stream_text {
	opacity: 1;
	text-align: left;
	overflow: scroll;
	/*height: 160px;*/
}

.article {
	overflow: scroll;
}

.stream img {
	border: 1px solid black;
	height: 100px;
	width: 100px;
	float: left;
	margin-right: 10px;
	border-radius: 2px;
	margin-top: 3px;
	/*display: none;*/
}

.stream iframe {
	height: 142px;
	width: 254px;
}

.full-frame {
	display: none;
}

.title_input {
	color: #1F1209;
	border-bottom: 1px solid #003366;
}

.title_input .plus {
	float: right;
}

.input {
	font-size: 9px;
	display: none;
	text-align: center;
}

textarea {
	font-size: 12px;
}

.history {
	border: 1px solid #003366;
	background-color: rgba(240,240,240,0.6);
	margin: 5px;
	border-radius: 5px;

	padding: 0 20px 20px 20px;
}

@media (min-width: 1200px) {
	body {
		background-size: 100%;
	}
}

@media (max-width: 800px) {
	topics {
		display: block;
	}
}